<% include header %>

<h1>Blocks</h1>

<div class="row">
    <table class="table-striped table-bordered">
        <tr>
            <th>&nbsp;</th>
            <th>Number</th>
            <th>Hash</th>
            <th># Transactions</th>
            <th># Uncles</th>
        </tr>
    <% blocks.forEach(function (block) { 
        if (!block)
            return;
    %>
        <tr>
            <td><a href="/block/<%= block.hash %>">View</a></td>
            <td><%= block.number %></td>
            <td><%= block.hash %></td>
            <td><%= block.transactions ? block.transactions.length : "" %></td>
            <td><%= block.uncles ? block.uncles.length : "" %></td>
        </tr>
    <% }); %>
    </table>
</div>

<% include footer %>
