<% include header %>

<h1>New Transfer To BTC</h1>

<div class="row actions">
<a class="btn btn-info" href="/account">Accounts</a>
<a class="btn btn-info" href="/account/<%= from.publicKey %>">Account</a>
</div>

<div class='row'>
    <table class="table-bordered">
        <tr>
            <td>From</td>
            <td><%= from.name %></td>           
        </tr>
        <tr>
            <td>From Address</td>
            <td><%= from.publicKey %></td>
        </tr>
    </table>
</div>

<div class='row'>    
    <form method="post" role="form" class="form">
        <div class="form-group">
            <label for="amount">Amount</label>
            <input type="text" class="form-control" name="amount" id="amount">
        </div>
        
        <div class="form-group">
            <label for="to">To BTC Account</label>
            <select name="to" id="to">
            <%
                accounts.forEach(function (account) {
            %>
                <option value="<%= account.id %>"><%= account.description %></option>
            <%
                });
            %>
            </select>
        </div>        
        
        <input class="btn btn-primary" type="submit" value="Send" />
    </form>
</div>

<% include footer %>

